.burger-list {
    width: 100vw;
    margin-right: 0;
    margin-left: 0;

    .burger-image {
        height: 200px;
        width: 100%;
        display: block;
    }

    .card-header {
        white-space: nowrap;
        overflow-x: auto;
    }
}
